*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.body-container {
  width: 100%;
}
@media only screen and (min-width: 1800px) {
  .body-container {
    width: 80%;
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #000;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}
@media only screen and (min-width: 1800px) {
  .header {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1380px) {
  .header {
    padding: 20px 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .header {
    padding: 20px 20px;
    height: 70px;
  }
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}
@media only screen and (max-width: 1023px) {
  .header .logo img {
    width: 30px;
    height: 30px;
  }
}
.header .logo span {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (min-width: 1024px) and (max-width: 1380px) {
  .header .logo span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .header .logo span {
    font-size: 14px;
  }
}
.header .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-100px);
}
@media only screen and (max-width: 1023px) {
  .header .links {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1380px) {
  .header .links {
    transform: translateX(-50px);
  }
}
.header .links a {
  text-decoration: none;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1380px) {
  .header .links a {
    font-size: 15px;
  }
}
.header .ham {
  font-size: 40px;
  color: #FFF;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header .ham {
    display: block;
    font-size: 30px;
  }
}

.section2 {
  width: 100%;
  position: relative;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .section2 {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
}
.section2 .form-details {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 60px 0px 60px;
  position: absolute;
  transition: 0.5 all;
}
@media only screen and (min-width: 1024px) and (max-width: 1380px) {
  .section2 .form-details {
    padding: 40px 30px 0px 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details {
    padding: 20px 30px 0px 30px;
  }
}
.section2 .form-details::-webkit-scrollbar {
  width: 10px;
}
.section2 .form-details::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
.section2 .form-details::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.section2 .form-details .back-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #000;
  margin-bottom: 100px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .back-btn {
    margin-bottom: 50px;
  }
}
.section2 .form-details .back-btn span {
  font-size: 50px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .back-btn span {
    font-size: 30px;
  }
}
.section2 .form-details .back-btn div {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-left: 20px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .back-btn div {
    font-size: 24px;
    margin-left: 10px;
  }
}
.section2 .form-details .user-container {
  margin-bottom: 40px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .user-container {
    margin-bottom: 10px;
  }
}
.section2 .form-details .info {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .info {
    font-size: 18px;
  }
}
.section2 .form-details .user-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  flex-direction: row;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .user-input {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
}
.section2 .form-details .user-input .user-box {
  width: 45%;
  margin-bottom: 0px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .user-input .user-box {
    width: 100%;
    margin-bottom: 20px;
  }
}
.section2 .form-details .user-input .user-box input, .section2 .form-details .user-input .user-box .inputspecial {
  width: 100%;
  padding: 8px 20px;
  margin-top: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  color: #828282;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .user-input .user-box input, .section2 .form-details .user-input .user-box .inputspecial {
    font-size: 10px;
  }
}
.section2 .form-details .user-input .user-box label {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .user-input .user-box label {
    font-size: 14px;
  }
}
.section2 .form-details .user-input .user-box label span {
  font-weight: 300;
  color: #828282;
}
.section2 .form-details .proceed {
  width: 45%;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 40px;
  border-radius: 8px;
  background: #FF4D25;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .proceed {
    font-size: 14px;
    width: 100%;
  }
}
.section2 .form-details .submit {
  width: 45%;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 40px;
  border-radius: 8px;
  background: #FF4D25;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
@media only screen and (max-width: 1023px) {
  .section2 .form-details .submit {
    font-size: 14px;
    width: 100%;
  }
}
.section2 .first {
  z-index: 3;
  background-color: white;
}
.section2 .second {
  z-index: 2;
  background-color: white;
}
.section2 .third {
  z-index: 1;
  background-color: white;
}

.reset {
  height: 100vh;
  margin-top: 0px;
}

.sidemenu {
  position: fixed;
  top: -200%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(30px);
  z-index: 100;
  padding: 20px;
  overflow: auto;
  transition: 0.5s;
}
.sidemenu .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.sidemenu .head .head-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidemenu .head .head-logo div {
  transform: translateX(10px);
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sidemenu .head img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.sidemenu .head span {
  color: #FFF;
  font-size: 40px;
}
.sidemenu .sidemenu-change {
  text-align: center;
  color: #F2F2F2;
  padding: 30px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sidemenu .sidemenu-change a {
  text-decoration: none;
  color: #F2F2F2;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  color: white;
  background-color: #FF4D25;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transition: 0.5s;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (max-width: 1023px) {
  .error {
    font-size: 15px;
    height: 70px;
  }
}
.error div {
  margin-right: 30px;
}
.error span {
  font-size: 40px;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  .error span {
    font-size: 30px;
  }
}/*# sourceMappingURL=ship.css.map */